@model MovieRatings.Models.Movies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CineGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CineGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CineDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CineDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusicGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusicGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusicDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusicDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActingGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActingGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActingDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActingDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VFXGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VFXGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VFXDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VFXDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
